@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(17, 24, 39)
    )
    rgb(17, 24, 39);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
